################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MLTemplate/obj/Debug/net7.0/SVM.AssemblyInfoInputs.cache
/MLTemplate/obj/Debug/net7.0/SVM.assets.cache
/MLTemplate/obj/Debug/net7.0/SVM.csproj.AssemblyReference.cache
/MLTemplate/obj/Debug/net7.0/SVM.GeneratedMSBuildEditorConfig.editorconfig
/MLTemplate/obj/Release/net7.0/SVM.AssemblyInfoInputs.cache
/MLTemplate/obj/Release/net7.0/SVM.assets.cache
/MLTemplate/obj/Release/net7.0/SVM.csproj.AssemblyReference.cache
/MLTemplate/obj/Release/net7.0/SVM.GeneratedMSBuildEditorConfig.editorconfig
/MLTemplate/obj/project.assets.json
/MLTemplate/obj/project.nuget.cache
/MLTemplate/obj/SVM.csproj.nuget.dgspec.json
/MLTemplate/obj/SVM.csproj.nuget.g.props
/MLTemplate/obj/Release/net7.0/SVM.AssemblyInfo.cs
/MLTemplate/obj/Debug/net7.0/SVM.AssemblyInfo.cs
/.vs/MLTemplate/v17/.futdcache.v2
/.vs/MLTemplate/v17/.suo
/.vs/MLTemplate/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/mltemplate.metadata.v6.1
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/GC-SVM/v17/.wsuo
/.vs/GC-SVM/v17/DocumentLayout.json
